
# Auto-ignored large files (>90MB) on 2025年 08月 18日 星期一 20:27:00 CST
src/tools/.git/objects/pack/pack-a3662d60fe1f9c46f9cf9a59761886a3c4f271eb.pack
src/.git/objects/pack/pack-8b60a5ccb71a5603900b46d11c2d0325f66965f3.pack
src/resources/reference_less_video_test_file.y4m
src/resources/FourPeople_1280x720_30.yuv
src/resources/ConferenceMotion_1280_720_50.yuv
src/out/Release/peerconnection_client
src/third_party/grpc/src/.git/objects/pack/pack-c7af01ad507d03c3dd6e519ba64917bdac818036.pack
src/third_party/.git/objects/pack/pack-828f098b0602210953bd8ed49aac8a66ab5537c0.pack
src/third_party/.git/objects/pack/pack-828f098b0602210953bd8ed49aac8a66ab5537c0.idx
src/third_party/llvm-build/Release+Asserts/bin/clang
src/third_party/openh264/src/.git/objects/pack/pack-9aa990e9751c742fa0392999232de21cb098b02d.pack
src/third_party/rust-toolchain/lib/libclang.so.21.0.0git
src/third_party/rust-toolchain/lib/librustc_driver-5a6e9bf8a8521c10.so
src/third_party/rust-toolchain/.Linux_x64_rust-toolchain-22be76b7e259f27bf3e55eb931f354cd8b69d55f-3-llvmorg-21-init-16348-gbd809ffb.tar.xz
src/third_party/ffmpeg/.git/objects/pack/pack-698165c2ea728f353c026d393e755803af4e88bc.pack
src/third_party/boringssl/src/.git/objects/pack/pack-9333408ae961f499135a5490091c6ccf42034240.pack
src/third_party/libaom/source/libaom/.git/objects/pack/pack-2630d745bdd8204ca97b713392b4a2ea801caade.pack
src/third_party/harfbuzz-ng/src/.git/objects/pack/pack-2b5bf9a261a6a05ebfbd1905c7a1611825c60786.pack
src/third_party/catapult/.git/objects/pack/pack-2f361e1fb9eb42e1221b9ac5cba36cce6c59a630.pack
src/third_party/perfetto/.git/objects/pack/pack-20bc06622c91aa4f23716a4de468e9258455624e.pack
src/third_party/icu/.git/objects/pack/pack-e3f2ccd08de82747c73bbe17de814d22f2012e88.pack
src/third_party/instrumented_libs/binaries/.9329714322846c2b47dd518ac08e437b8c7d8075c514dc7ec3eb3e3a1e0faeb6
src/third_party/instrumented_libs/binaries/.a749c9e47cb4584bc944c887440b1d1c51501f7d9bb99eea276ebcba0aa6c1ec
src/third_party/jdk/current/lib/modules
VCD_th_1920x1080_30_120s_compressed.yuv
test_video.yuv
webrtc_config_results/received_local.y4m
webrtc_config_results/received_from_server.y4m
blue_sky_1080p25.y4m
AlphaRTC/_bad_scm/src/third_party/libaom/source/libaom21fga823/libaom/.git/objects/pack/pack-4d4a67451e217d8c4136d3e090494befa912e9c8.pack
AlphaRTC/_bad_scm/src/third_party/harfbuzz-ng/srczp94szyw/src/.git/objects/pack/pack-0f000b73dd951bcb67f6aeced0def6750af6ad9b.pack
AlphaRTC/received_video.yuv
AlphaRTC/tools/.git/objects/pack/pack-27ec4b4225c21b756a0122be6c0b1baab2e17116.pack
AlphaRTC/.git/objects/pack/pack-a08c29640eafc0729c2c89864af6fd75d3a5fe00.pack
AlphaRTC/base/.git/objects/pack/pack-d8a8e65e51b1465125a68fbbe407738c157f4117.pack
AlphaRTC/out/Default/peerconnection_serverless
AlphaRTC/out/Default/peerconnection_client
AlphaRTC/output_video.yuv
AlphaRTC/third_party/.git/objects/pack/pack-bd14cc93c46918bfc5ded0f4b59d411d57d303f3.idx
AlphaRTC/third_party/.git/objects/pack/pack-bd14cc93c46918bfc5ded0f4b59d411d57d303f3.pack
AlphaRTC/third_party/openh264/src/.git/objects/pack/pack-9aa990e9751c742fa0392999232de21cb098b02d.pack
AlphaRTC/third_party/ffmpeg/.git/objects/pack/pack-0cbc98d738ec4d25d375b3c6ac0e540d75905f5c.pack
AlphaRTC/third_party/boringssl/src/.git/objects/pack/pack-18767f5ad7b0425b022fd86e5ef999ffaf58aae3.pack
AlphaRTC/third_party/libaom/source/libaom/.git/objects/pack/pack-4d4a67451e217d8c4136d3e090494befa912e9c8.pack
AlphaRTC/third_party/harfbuzz-ng/src/.git/objects/pack/pack-0f000b73dd951bcb67f6aeced0def6750af6ad9b.pack
AlphaRTC/third_party/catapult/.git/objects/pack/pack-08e368ff4a67d0e9ec2db6397f2888376142568a.pack
AlphaRTC/third_party/instrumented_libraries/binaries/msan-chained-origins-trusty.tgz
AlphaRTC/third_party/instrumented_libraries/binaries/msan-no-origins-trusty.tgz
AlphaRTC/third_party/icu/.git/objects/pack/pack-e3f2ccd08de82747c73bbe17de814d22f2012e88.pack
AlphaRTC/testing/.git/objects/pack/pack-46a28c19e5571ae0f8ce974783c305e986e56f0c.pack
alphartc_config_results/received_video_second_test.y4m
alphartc_config_results/received_video_before_fix.y4m
alphartc_config_results/output_video.y4m
alphartc_config_results/output_video_before_fix.y4m
alphartc_config_results/output_video_second_test.y4m
alphartc_config_results/output_video_old.y4m
alphartc_config_results/received_video.y4m
alphartc_config_results/received_video_old.y4m
VCD_th_1920x1080_30.yuv

# Auto-ignored large files (>90MB) on 2025年 08月 18日 星期一 20:27:36 CST
src/tools/.git/objects/pack/pack-a3662d60fe1f9c46f9cf9a59761886a3c4f271eb.pack
src/.git/objects/pack/pack-8b60a5ccb71a5603900b46d11c2d0325f66965f3.pack
src/resources/reference_less_video_test_file.y4m
src/resources/FourPeople_1280x720_30.yuv
src/resources/ConferenceMotion_1280_720_50.yuv
src/out/Release/peerconnection_client
src/third_party/grpc/src/.git/objects/pack/pack-c7af01ad507d03c3dd6e519ba64917bdac818036.pack
src/third_party/.git/objects/pack/pack-828f098b0602210953bd8ed49aac8a66ab5537c0.pack
src/third_party/.git/objects/pack/pack-828f098b0602210953bd8ed49aac8a66ab5537c0.idx
src/third_party/llvm-build/Release+Asserts/bin/clang
src/third_party/openh264/src/.git/objects/pack/pack-9aa990e9751c742fa0392999232de21cb098b02d.pack
src/third_party/rust-toolchain/lib/libclang.so.21.0.0git
src/third_party/rust-toolchain/lib/librustc_driver-5a6e9bf8a8521c10.so
src/third_party/rust-toolchain/.Linux_x64_rust-toolchain-22be76b7e259f27bf3e55eb931f354cd8b69d55f-3-llvmorg-21-init-16348-gbd809ffb.tar.xz
src/third_party/ffmpeg/.git/objects/pack/pack-698165c2ea728f353c026d393e755803af4e88bc.pack
src/third_party/boringssl/src/.git/objects/pack/pack-9333408ae961f499135a5490091c6ccf42034240.pack
src/third_party/libaom/source/libaom/.git/objects/pack/pack-2630d745bdd8204ca97b713392b4a2ea801caade.pack
src/third_party/harfbuzz-ng/src/.git/objects/pack/pack-2b5bf9a261a6a05ebfbd1905c7a1611825c60786.pack
src/third_party/catapult/.git/objects/pack/pack-2f361e1fb9eb42e1221b9ac5cba36cce6c59a630.pack
src/third_party/perfetto/.git/objects/pack/pack-20bc06622c91aa4f23716a4de468e9258455624e.pack
src/third_party/icu/.git/objects/pack/pack-e3f2ccd08de82747c73bbe17de814d22f2012e88.pack
src/third_party/instrumented_libs/binaries/.9329714322846c2b47dd518ac08e437b8c7d8075c514dc7ec3eb3e3a1e0faeb6
src/third_party/instrumented_libs/binaries/.a749c9e47cb4584bc944c887440b1d1c51501f7d9bb99eea276ebcba0aa6c1ec
src/third_party/jdk/current/lib/modules
VCD_th_1920x1080_30_120s_compressed.yuv
test_video.yuv
webrtc_config_results/received_local.y4m
webrtc_config_results/received_from_server.y4m
blue_sky_1080p25.y4m
AlphaRTC/_bad_scm/src/third_party/libaom/source/libaom21fga823/libaom/.git/objects/pack/pack-4d4a67451e217d8c4136d3e090494befa912e9c8.pack
AlphaRTC/_bad_scm/src/third_party/harfbuzz-ng/srczp94szyw/src/.git/objects/pack/pack-0f000b73dd951bcb67f6aeced0def6750af6ad9b.pack
AlphaRTC/received_video.yuv
AlphaRTC/tools/.git/objects/pack/pack-27ec4b4225c21b756a0122be6c0b1baab2e17116.pack
AlphaRTC/.git/objects/pack/pack-a08c29640eafc0729c2c89864af6fd75d3a5fe00.pack
AlphaRTC/base/.git/objects/pack/pack-d8a8e65e51b1465125a68fbbe407738c157f4117.pack
AlphaRTC/out/Default/peerconnection_serverless
AlphaRTC/out/Default/peerconnection_client
AlphaRTC/output_video.yuv
AlphaRTC/third_party/.git/objects/pack/pack-bd14cc93c46918bfc5ded0f4b59d411d57d303f3.idx
AlphaRTC/third_party/.git/objects/pack/pack-bd14cc93c46918bfc5ded0f4b59d411d57d303f3.pack
AlphaRTC/third_party/openh264/src/.git/objects/pack/pack-9aa990e9751c742fa0392999232de21cb098b02d.pack
AlphaRTC/third_party/ffmpeg/.git/objects/pack/pack-0cbc98d738ec4d25d375b3c6ac0e540d75905f5c.pack
AlphaRTC/third_party/boringssl/src/.git/objects/pack/pack-18767f5ad7b0425b022fd86e5ef999ffaf58aae3.pack
AlphaRTC/third_party/libaom/source/libaom/.git/objects/pack/pack-4d4a67451e217d8c4136d3e090494befa912e9c8.pack
AlphaRTC/third_party/harfbuzz-ng/src/.git/objects/pack/pack-0f000b73dd951bcb67f6aeced0def6750af6ad9b.pack
AlphaRTC/third_party/catapult/.git/objects/pack/pack-08e368ff4a67d0e9ec2db6397f2888376142568a.pack
AlphaRTC/third_party/instrumented_libraries/binaries/msan-chained-origins-trusty.tgz
AlphaRTC/third_party/instrumented_libraries/binaries/msan-no-origins-trusty.tgz
AlphaRTC/third_party/icu/.git/objects/pack/pack-e3f2ccd08de82747c73bbe17de814d22f2012e88.pack
AlphaRTC/testing/.git/objects/pack/pack-46a28c19e5571ae0f8ce974783c305e986e56f0c.pack
alphartc_config_results/received_video_second_test.y4m
alphartc_config_results/received_video_before_fix.y4m
alphartc_config_results/output_video.y4m
alphartc_config_results/output_video_before_fix.y4m
alphartc_config_results/output_video_second_test.y4m
alphartc_config_results/output_video_old.y4m
alphartc_config_results/received_video.y4m
alphartc_config_results/received_video_old.y4m
VCD_th_1920x1080_30.yuv
